<div class="jumbotron text-center">  
    <div class="container">
        <h1>We are Teaching Athletes Plans for Success Inc. (T.A.P.S)!</h1><br>
            <p>A nonprofit organization supporting at-risk urban youth.  Our goal is the help our youth recognize their full potential on and off the playing courts and fields. We strive to assist our youth in identifying their strengths and develop a plan to execute their dreams.</p>
           <p>A gift consists not in what is done or given, but in the intention of the giver or doer</p>
</div>  
</div>


<div class="center">
<div class="row">
  <% @listings.each do |listing| %>
  <div class="col-md-3">
    <div class="thumbnail">
     <%= link_to image_tag(listing.picture.url), listing %>
      <div class="caption">
        <h3><%= listing.name %></h3>
        <p><%= number_to_currency(listing.amount) %></p>
        <p><%= listing.short_description %></p>
         </div>
       </div>
     </div>
        <% end %>
      </div>
    </div>
    
    <br>
  
  
  

 
  
