<div class="panel panel-primary">
  <div class="panel-heading">To send a contribution via mail</div>
  <div class="panel-body">
    <h3 class="panel-title">If you would like to make a tax-deductible contribution by check or money order please  send your donation to: </h3>
    <h3> TAPS INC 9100 OLMSTED DR,CHARLOTTE, NC. 28262</h3>
    <p> And if you have any questions, please call the office at 704-749-0528.</p>
  </div>
</div>


<div class="panel panel-primary">
  <div class="panel-heading">The privacy of our donors is very important to us</div>
  <div class="panel-body">
    <h3 class="panel-title">We will not sell, rent, trade or give your information to anyone.TAPS INC is a 501(c)(3) nonprofit charitable organization.All donations are tax deductible. </h3>

  </div>
</div>


